{% extends 'base.html' %}

{% block title %}Пошук{% endblock %}

{% block form_buttons %}   
<div style="margin: 0;position: absolute;top: 50%;left: 50%;-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);">
    <form class="form-inline mt-2 mt-md-0"action="{% url 'search_authors' %}" method="get">
      <input name="s" type="text" class="form-control mr-sm-2" style="width: 400px">
      <button class="btn btn-success" style="margin-left: 20px" type="submit">Пошук</button>
    </form>
</div>
<a href="{% url 'authors_insert' %}" style="margin-left: 20px" class="btn btn-success"></i>Додати автора</a>
{% endblock %}

{% block content %}

            <table class="table table-hover table-bordered table-dark table-striped" style="margin-top: 50px;text-align: center">
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Patronymic</th>
                </tr >
            {% for author in object_list %}
                <tr> 
                    <td>{{ author.id }}</td>
                    <td>{{ author.name }}</td>
                    <td>{{ author.surname }}</td>
                    <td>{{ author.patronymic }}</td>
                    <td>
                        <a href="{% url 'authors_update' author.id %}" style="color: rgb(76, 194, 60);">Edit</a>

                        <a href="{% url 'authors_delete' author.id %}" style="color: rgb(194, 60, 60);">Delete</a>
                    </td>

                </tr>
                {% endfor %}
            </table>

{% endblock %}
    

    
